body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    color: #333;
    font-size: 19px;
    
}

.man {
    display: block;
    margin-top: 38px;
    margin-right: 0px;
    text-align: center;
}

.arrow {
    display: block;
    text-align: right;
    margin-right: 495px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

header a{
    color: #333;
}



.menu {
    display: flex;
    margin-left: 284px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.2em;
    padding-bottom: 5px;
}
.menu li a:hover {
    border-bottom: 1px solid #333;
}

.menu li {
    margin-left: 35px;
    margin-top: 11px;

}

.name {
    font-size: 37px;
    font-weight: normal;
    padding-top: 16px;
    letter-spacing: 0.07em;
    margin-left: 383px;
    
}

.welcome {
    margin-top: 38px;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
}

.description {
    margin-top: 20px;
    margin-left: 246px;
    margin-right: 246px;
}

.question {
    font-style: italic;
    font-size: 19px;
    font-weight: bolder;
}

p {
    font-size: 19px;
    font-style: italic;
}

.footer {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 1170px
    
}

#contacts p {
    padding-bottom: 0px;
    font-style: normal;
    font-size: 19px;
}

#contacts img {
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

#contacts {
    width: 1170px;
    margin: 0 auto;
}

.contacts {
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 10px;
}


.container img {
    margin-right: 10px;
}

.projectHeader {
    margin-top: 100px;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 94px;
}

.projectBlock {
    display: block;
    width: 288px;
    height: 343px;
    background-color: white;
    letter-spacing: 4px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 20px;
}

.projectBlock p{
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;

}

.projectBlock h5{
    color: black;
    margin-left: 35px;
    display: inline-block;
}

.projectBlock h3{
    color: black;
    text-align: center;
}

.projectBlock img{
    margin-top: 10px;
    margin-left: 2px;
}


form {
    text-align: center;
    width: 500px;
    border: 0px
  }

  button {
    padding: 10px 24px;
    border: none;
    border-radius: 7px;
  
    color: #fff;
    font-weight: bold;
  
    background: #333;
  
    cursor: pointer;
  }

  label {
      font-size: 28px;
      text-align: left;
  }
  input {
      width: 216px;
      height: 30px;
  }

  .mass {
      display: flex;
      width: 1170px;
      margin: 0 auto;
      margin-top: 40px;
      justify-content: center;
  }

  textarea {
      width: 450px;
      height: 150px;
      resize: none;
  }